/* Base Element Stlyes*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: #daede9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.name a,
li a,
.main-footer {
    color: white;
}

li {
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

/* Container Styles */

.main-header,
.main-footer {
    background-color: #0ad178;
}

.main-footer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding: 2em 0;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.content {
    height: 100%;
    margin-bottom: auto;
    padding-top: 2em;
}

/* Centers the title when in mobile/smaller screen formats */
.name {
    align-self: center;
}

.main-nav {
    margin: 0;
    padding: 0;
    font-size: 1.65em;
    align-self: center;
}

.debug {
    border: red solid 5px;
}

#formInfo {
    text-align: center;
    padding-top: 35px;
}

.formDiv {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.contactForm {
    background-color: #A5D6CC;
    border: solid black 2px;
    border-radius: 5px;
    padding: 15px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
  }

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  #submitBtn {
	background-color:#0ad177;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Franklin Gothic Medium;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

#submitBtn:hover {
	background-color:#18ab29;
}

#submitBtn:active {
	position:relative;
	top:1px;
}


/* Media Queries */

@media (min-width: 768px){

    .main-header,
    .main-footer{
        display: flex;
        width: 90%;
        margin: 0 auto;
    }

    .main-header {
        flex-direction: column;
        align-items: center;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

}

@media (min-width: 1025px){

    .main-header {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 5px;
    }

    .main-header,
    .main-footer {
        width: 80%;
    }

}