/* Base Element Stlyes*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: #daede9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.name a,
.main-nav a,
.main-footer {
    color: white;
}

.main-nav li {
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

/* Container Styles */

.main-header,
.main-footer {
    background-color: #0ad178;
}

.main-footer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding: 2em 0;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
}

.content {
    height: 100%;
    margin-bottom: auto;
    padding-top: 5em;
    padding-bottom: 5em;
}

/* Centers the title when in mobile/smaller screen formats */
.name {
    align-self: center;
}

.main-nav {
    margin: 0;
    padding: 0;
    font-size: 1.65em;
    align-self: center;
}

.debug {
    border: red solid 5px;
}


/* Media Queries */

@media (min-width: 768px){

    .main-header,
    .main-footer {
        display: flex;
        width: 90%;
        margin: 0 auto;
    }

    .content {
        width: 90%;
        padding-left: 15em;
    }

    .main-header {
        flex-direction: column;
        align-items: center;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

}

@media (min-width: 1025px){

    .main-header {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 5px;
    }

    .main-header,
    .main-footer {
        width: 80%;
    }

}